<style>
    #menu li {
        text-align: left;
        list-style-type: none;
    }
    .smaller {
        font-size: smaller;;
    }
</style>
<ul id="menu">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/intro">Introduction</a></li>
    <li>
        <a href="{{ site.baseurl }}/patterns">Patterns Index</a>
        <ul class="smaller">
            <li><a href="{{ site.baseurl }}/pattern/001">001 - Alternative labels</a></li>
            <li><a href="{{ site.baseurl }}/pattern/002">002 - Language Labels</a></li>            
        </ul>
    </li>
    <li><a href="{{ site.baseurl }}/tools">Vocab Tools</a></li>
</ul>